@import '../../../../helpers/color_variables.module.scss';

.tabs_holder{
    width: 100%;
}



.tabs_holder__button{
    height: 56px;
    padding: 7px 40px 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;

    transition: all ease-in-out .2s;

    &:hover{
        color: #912EF2;
    }

    &.active {
        border-bottom: 2px solid rgb(108, 27, 219);
    }
}

:global(.dark) .tabs_holder__button{
    color: rgb(255, 255, 255);

    &:hover{
        color: #912EF2;
    }

    &.active {
        border-bottom: 2px solid rgb(108, 27, 219);
    }
}
