@import '../../helpers/color_variables.module.scss';

.buttons_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 47px 0 41px;

    & button {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        column-gap: 8px;
        height: 24px;
        border: none;
        background-color: transparent;
    
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        color: $dark-mode-color;
    
        cursor: pointer;
        transition: all .4s ease-in-out;
    
        & p {
            margin: 0;
        }
    
        & path {
            transition: all .4s ease-in-out;
        }
    
        &:hover:not(:disabled) {
            color: $main-color;
    
            & path {
                fill: $main-color;
            }
        }
    
        &:disabled {
            color: $dark-gray;
            cursor: not-allowed;
    
            & path {
                fill: $dark-gray;
            }
        }
    }
}
