@import '../../../../assets/color.scss';

.searchIcon{
    height: 96px;
    aspect-ratio: 1/1;
    background-color: $white;
    border: none;
    border-right: 1px solid $extra-light;

    cursor: pointer;

    &:hover{
        background-color: $extra-light;
        border-right: none;
    }
}