@import '../../../../helpers/color_variables.module.scss';

.more{
    width: 36px;
    height: fit-content;
    aspect-ratio: 1/1;
    padding: 0;
    border: none;
    background-color: transparent;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: all ease-in-out .4s;

    &:hover:not(:disabled){
        & path{
            fill: $main-hover-color;
            transition: all ease-in-out .4s;
        }
    }

    &:disabled{
        cursor: not-allowed;

        & path{
            fill: $dark-gray;
            transition: all ease-in-out .4s;
        }
    }
}

:global(.dark) .more{
    & path{
        fill: rgb(255, 255, 255);
    }
}