@import '../../../assets/color.scss';

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    background-color: $white;
    padding-left: 30px;
    padding-right: 30px;
}

:global(.dark) .logo {
    background-color: rgba(97, 95, 103);
}

