.wrapper{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 92px);
}

.page{
    width: 1120px;
    box-sizing: border-box;
    margin: 156px auto 0;
    height: 100%;

    flex: 1;
}

.page_marg{
    margin-bottom: 72px;
}