@import '../../../../helpers/color_variables.module.scss';

.bookmark{
    width: 36px;
    height: fit-content;
    border-radius: 40%;
    aspect-ratio: 1/1;
    padding: 0;
    border: none;
    background-color: transparent;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: all ease-in-out .2s;

    &:hover:not(:disabled){
        background-color: $main-hover-color;
        & path{
            fill: white;
            transition: all ease-in-out .2s;
        }
    }

    &:disabled{
        cursor: not-allowed;

        & path{
            fill: $dark-gray;
            transition: all ease-in-out .2s;
        }
    }
}

:global(.dark) .bookmark{
    & path{
        fill: rgb(255, 255, 255);
    }
}

.add_to_favs{
    & path{
        fill: $main-hover-color
    }
}