//System Colors
$primary: #6C1BDB;
$primary-secondary: #912EF2;
$secondary: #313037;

//Secondary Colors
$medium: #31303780;
$light: #3130374D;
$extra-light: #3130371A;

//Contextual colors
$error: #FD3419;
$white: #FFFFFF;
$gray: #F3F3F3;



